* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}

body {
  color: #F7F7F7;
  background-color: #282C30;
}

body, input, button {
  font: 400 18px 'Roboto', sans-serif;
}
